.main-navbar {
    background-color: #fefefe;
    padding: 0px;
    border-bottom: solid 2px #ddd;
}

.navbar-row {
    width: 100%;
}

.navbar-container {
    background-color: #fefefe;
    max-width: 960px;
}

.nametext-container {
    background-color: #5f9ea0;
    font-size: 1.6rem;
    min-width: fit-content;
}

#myname {
    color: #fefefe;
}

#navbar-content {
    text-align: right;
}